<!-- <app-dashboard-header [header]="header"></app-dashboard-header>

<div style="margin-top: 20px">
    <button class="tabbutton" [routerLink]="['/superadmin/process']">Process</button>
    <button class="tabbutton" [routerLink]="['/superadmin/team']">Team</button>
    <button class="tabbutton" [routerLink]="['/superadmin/account']">Account</button> 
    <button class="tabbutton" [routerLink]="['/superadmin/checklist']">Checklist</button>
   
    <button class="tabbutton" [routerLink]="['/superadmin/processteammap']">Process Team Map</button> 

</div>



<div id="datastyle">
  <label id="aolnamelabel">AOL/COM</label>
  <input type="text" id="aolcolvalue" placeholder="Rohit Vir Singh" disabled>
</div>

<div id="datastyle">
  <label id="accoutnamelabel">Account Name</label>
  <input type="text" placeholder="AT&T Non-DOX" id="accountnamevalue" disabled>
</div>

<h2 style="margin-left: 600px;margin-top:30px">Selected Teams & SPOCs</h2>
<hr>

<label style="padding-left: 10px">Team Name Sample</label>
<input style="margin-left: 50px;background-color: #D3D3D3" type="text" placeholder="Spoc Name" disabled >

<h2 style="margin-left: 600px;margin-top:30px">Not Selected Teams</h2>
<hr>
<label style="padding-left: 10px">Team Name Sample</label>
<label style="padding-left: 10px">Reason for not Selected</label>


<hr>
<button class="admin_button" >Approve</button >
<button class="edit_button">Review Again</button > -->