<header style="padding-bottom: 80px;">
  <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto" style="margin-right: 25px;">
        <li class="nav-item">
          <a class="nav-link" href="#"><img class="logo" src="assets/Images/logo8.PNG"></a>
        </li>               
      </ul><br>
      <h1  style="margin-right: 20%; color: azure;">{{header}}</h1>
        <button class="btn btn-outline-success" type="submit"><i class='fas fa-user-alt'>
            {{ntnetname}}</i> </button>
            <!-- <a style="color: aqua; border: aquamarine; border: solid;padding: 2px;" >  {{ntnetname}} </a> -->
    </div>
  </nav>
</header>
