<div class="legend">
    <table class="legend-table">
        <thead class="legend-header-css">
          <tr>
          <td class="legend-td-css">Color</td>
            <td class="legend-td-css">Meaning</td>
          </tr>
        </thead>  
          <tr class="legend-tr-css">
            <td class="legend-td-css" id="col-1"></td>
            <td class="legend-td-css">Advance</td>
          </tr>
          <tr class="legend-tr-css">
            <td class="legend-td-css" id="col-2"></td>
            <td class="legend-td-css">up-lift</td>
          </tr>
          <tr class="legend-tr-css">
            <td class="legend-td-css" id="col-3"></td>
            <td class="legend-td-css">qualified</td>
          </tr>
          <tr class="legend-tr-css">
            <td class="legend-td-css" id="col-4"></td>
            <td class="legend-td-css">amateur</td>
          </tr>
    </table>
</div>