<div style="background-color: aliceblue;">
  <div style="margin-bottom: 1%;">
    <app-dashboard-header [header]="header"></app-dashboard-header>
  </div>
  <div class="container">
    <div *ngFor="let chkListData of checklistdataarray">
      <h1 style="text-align: center;"><u>{{chkListData.checklistName}}- Checklist</u></h1>
    </div>
    <br>
    <br>
    <br>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal1">
      Add Question
    </button>
    <button style="margin-left: 5%;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      Add Questions Using Excel
    </button>
  </div>





  <!-- add question manually -->
  <div class="modal" id="myModal1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <label for="uname"><b>Question</b></label>
          <input type="text" [(ngModel)]="questionupdate" placeholder="Enter Question" name="account" required>
          
          <label for="psw"><b>Answers</b></label>
          <div class="container">
            <table class="table">
              <tbody>
                <tr>
                  <td style="column-width: 40%;"><input type="text" placeholder="Enter Answer" [(ngModel)]="answer1"
                      name="answer1" required></td>
                  <td><input type="text" placeholder="Enter Score" [(ngModel)]="score1" name="score1"></td>
                </tr>
                <tr>
                  <td style="column-width: 40%;"><input type="text" placeholder="Enter Answer" [(ngModel)]="answer2"
                      name="answer2" required></td>
                  <td><input type="text" placeholder="Enter Score" [(ngModel)]="score2" name="score2"></td>
                </tr>
                <tr>
                  <td style="column-width: 40%;"><input type="text" placeholder="Enter Answer" [(ngModel)]="answer3"
                      name="answer3" required></td>
                  <td><input type="text" placeholder="Enter Score" [(ngModel)]="score3" name="score3"></td>
                </tr>
                <tr>
                  <td style="column-width: 40%;"><input type="text" placeholder="Enter Answer" [(ngModel)]="answer4"
                      name="answer4" required></td>
                  <td><input type="text" placeholder="Enter Score" [(ngModel)]="score4" name="score4"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info" (click)="onaddque()">Add Question</button>
            <button type="button" class="btn btn-danger" style="background-color: #df5563;"
              data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- ---------------------------------------------- -->




  <div class="modal" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Upload File Using Excel</h2>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <h5 style="color: red;">
            Download sample file:
            <button type="button" class="btn btn-light btn-lg">
              <a download="Template" target="_blank" href="/assets/files/Template.xlsx">Download</a></button>
          </h5><br>
          <br>
          <h5> Upload file:
            <button type="button" class="btn btn-light btn-lg">
              <input #file type="file" [hidden]="false" (change)="uploadFile($event.target.files)">
            </button>
          </h5><br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="onsubmit()" data-dismiss="modal">Done</button>
        </div>
      </div>
    </div>
  </div>









  <div class="container">
    <table *ngFor="let chkListData of checklistdataarray" class="table table-bordered table-hover "
      style="border: black; background-color: rgb(221, 221, 221);">
      <thead>
        <tr style="background-color: rgb(161, 161, 161);">
          <th style="width: 7%;">Sr.No</th>
          <th>Question</th>
          <th style="width: 10%;">Action Items</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let questionData of chkListData.question ; let y = index">
          <td>{{y+1}}</td>
          <td>Q{{y+1}}---{{questionData.question}}
            <table *ngFor="let answerData of questionData.answer" style="margin-top: 10px;width: 75%; "
              class="scorerow">
              <tr style="width: 50%;">
                <td style="width: 90%; background-color: rgb(221, 221, 221);">{{answerData.answer}}</td>
                <td style="width: 10%; background-color: rgb(221, 221, 221);">{{answerData.score}}</td>
              </tr>
            </table>
          </td>
          <td>
            <button  type='button' class="btn btn-info"   style="margin-left: 20px "
               (click)="onselectupdate(questionData)" data-toggle="modal" data-target="#myModal2"><i
                class='fas fa-pencil-alt'></i></button>
             <button type='button' class="btn btn-danger"
                style="margin-left: 20px ; margin-top:20px;background-color: #df5563"
               (click)="deletepopup(questionData.questionId)" data-toggle="modal" data-target="#myModal3"><i
                class='fas fa-trash'></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>







  <div *ngIf="updatepopup"  class="modal" id="myModal2">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Edit Question & Answer</h3>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <label for="uname"><b>Question</b></label>
          <input type="text" [(ngModel)]="questionupdate" placeholder="Enter Question" name="account" required>
          
          <label for="psw"><b>Answers</b></label>
          <div class="answer">
              <table>
                <tr *ngFor="let ansData of selectedQuestionToEdit.answer; let i=index">
                  <td><input type="text" placeholder="Enter Answer" [(ngModel)]="ansData.answer" name="answer{{i+1}}" required></td>
                  <td><input type="text"  placeholder="Enter Score" [(ngModel)]="ansData.score" name="score{{i+1}}"></td>  
                </tr>
             
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info" (click)="onupdateque()">Update Changes</button>
            <button type="button" class="btn btn-danger" style="background-color: #df5563;"
              data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{questionupdate | json}}






  <div class="modal" id="myModal3">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <h2>Are you sure to Delete ?</h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" (click)="onselectdelete()">Yes</button>
          <button type="button" class="btn btn-danger" style="background-color: #df5563;"
            data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>