<!--
<app-dashboard-header>
</app-dashboard-header>
-->
<!-- <app-admin-header></app-admin-header>

  <div class="parent-div">
  



        <div class="left-div">
                <H1 class="team-detail-header">Teams</H1>
                <hr>
                <div class="team-table-div">
                  <form class="form-style-2">
                   
                       <table class="table1" >
                            <thead class="row">
                                <td class="col-select">  </td>
                                <td class="col" id="table-header">Team</td>
                                <td class="col" id="table-header">Team Lead</td>
                                <td class="col" id="table-header">Line </td>
                                <td class="col" id="table-header">Account </td>
                                <td class="col" id="table-header">Details</td>
                                <td class="col" id="table-header">Datasource configured</td>
                            </thead>
                                <tr class="row" *ngFor=" let team of teams , let i = index">
                                    <td class="col-select"><input type="radio" name="lineRadio" class="radio-btn" (change)="onSelectionIndex(i)"></td>
                                    <td class="col">{{teams[i].teamName}}</td>
                                    <td class="col">{{teams[i].teamLeadName+" "}}</td>
                                    <td class="col">{{teams[i].lineName+" "}}</td>
                                    <td class="col">{{teams[i].accountName+" "}}</td>
                                    <td class="col">{{teams[i].teamDetails+" "}}</td>
                                    <td class="col" *ngIf="dataSourceAllTeam[i]">{{dataSourceAllTeam[i].datasources.length==0?"-":dataSourceAllTeam[i].datasources[0].datasourceName}}</td>
                                </tr>
                            </table>

                       
                         <br><br>
                         <div class="button-div">
                         
                            <div class="button-div-1">
                                <input id="submit-id" type="Reset" value="Reset" (click)=onResetTeamSelection()/>
                            </div>   
                            <div class="button-div-2">
                                <input id="submit-id" type="button" value="Modify" (click)=modifyTeam()/>
                            </div>
                            <div class="button-div-3">
                                <input id="submit-id" type="button" value="Delete" (click)=deleteTeam() /> 
                            </div>
                            <div class="button-div-4">          
                                <input id="submit-id" type="button" value="Config" (click)=onTeamConfig()/>
                            </div>

                          </div>
                      </form> 
                  </div>
              </div>
      <div class="right-div">
            <H1 class="team-detail-header">{{formButton}}</H1>
            <hr>
          <form (ngSubmit)="onSubmit()">
              <ul class="form-style-1">
                  
                <br>
                  
                  <li>
                          <label class="label-css" >Line Name <span class="required">*</span></label>
                                <select name="field4" class="field-select"  name="lineName" [(ngModel)]="team.lineName"  (change)="onLineSelect()" >
                                    <option *ngFor='let lineName of lineNames ;index as i' [value]="lineName">
                                    {{lineName}}
                                    </option>
                                </select>
                  </li>
                  
                  <li>
                          <label class="label-css" >Account Name <span class="required">*</span></label>
                          <select name="field4" class="field-select"  name="accountName" [(ngModel)]="team.accountName">
                                <option *ngFor='let accountName of accountNames ;index as i' [value]="accountName">
                                {{accountName}}
                                </option>
                            </select>
                  </li>
                
                
                
                    <li>
                      <label class="label-css"> Team Name <span class="required">*</span></label>
                      <input type="text"  name="teamName" class="field-long" [(ngModel)]="team.teamName" [disabled]="teamNameDisabled"/>
                  </li>
                  <li>
                          <label class="label-css"> Team Leader Name <span class="required">*</span></label>
                          <input type="text" name="teamLeadName" class="field-long" [(ngModel)]="team.teamLeadName" />
                  </li>
                  
                  
                  <li>
                      <label class="label-css">Team Details </label>
                      <textarea name="teamDetails" id="field5" class="field-long field-textarea" [(ngModel)]="team.teamDetails"></textarea>
                  </li>
                  <br>
                  <li>
                      <div class="button-div">
                          <div class="button-div-5">
                                <input id="submit-id" type="reset" value="Reset" (click)=onReset()/>
                          </div>
                          <div class="button-div-6">
                                <input id="submit-id" type="submit" value={{formButton}} />
                          </div>
                      </div>
                 </li>
              </ul>


              
              </form>
     
      </div>
       
    
    
    </div>
    -->