<div style="background-color: aliceblue; padding: 8px;">
    <div>
        <app-dashboard-header [header]="header"></app-dashboard-header>
    </div>
    <div class="container">
        <br>
        <header id="main-top">
            <h4 style="text-align: center; padding: 5px;">"Our aim is to make every account digitally empowered and
                every
                information
                digitally available"</h4><br><br>
           
        </header>
        <br>
<!-- ntnet -->
        <div class="container marketing">
            <div class='row'>
                <div  class='col-md-4'>
                    <div class="card bg-light">
                        <div class="card-body ">
                            <h4 class="card-title text-center">SMM DASHBOARD--AOL and SuperAdmin </h4>
                            <p class="card-text">Service Maturity Model is a SmartOPs IP for measuring maturity of
                                standard business
                                & quality process in the account.</p><br>
                            <a [class.disabled]=" ! buttonvar" class="btn btn-info" [routerLink]="['/ssm']" role="button">View details &raquo;</a>
                        </div>
                    </div>
                </div>
                <div   class='col-md-4'>
                    <div class="card bg-light">
                        <div class="card-body ">
                            <h4 class="card-title text-center">Super Admin</h4>
                            <p class="card-text">It has previlages to add, delete and modify of accounts, processes,process-checklists
                                acount-team-mapping and teams.</p><br>
                            <a [class.disabled]=" ! buttonvar1"  class="btn btn-info" [routerLink]="['/ssm']" role="button">View details &raquo;</a>
                        </div>
                    </div>
                </div>
                <div    class='col-md-4'>
                    <div class="card bg-light">
                        <div class="card-body ">
                            <h4 class="card-title text-center">SPOC</h4>
                            <p class="card-text">It has to fill checklist.</p><br><br><br><br>
                            <a [class.disabled]=" ! buttonvar2" class="btn btn-info" [routerLink]="['/prr']" role="button">View details &raquo;</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div style="margin-top: 2%;" class="row">
                <div class="col-sm-4">
                    <img class="rounded-circle"
                        src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                        alt="Generic placeholder image" width="140" height="140">
                    <h2>SMM DASHBOARD</h2>
                    <p>Service Maturity Model is a SmartOPs IP for measuring maturity of standard business
                        & quality process in the account.</p>
                    <p><a class="btn btn-info" href="ssm" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-sm-4">
                    <img class="rounded-circle"
                        src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                        alt="Generic placeholder image" width="140" height="140">
                    <h2>SuperAdmin</h2>
                    <p>It has previlages to add, delete and modify of accounts, processes, acount-team-mapping and teams
                    </p>
                    <p><a class="btn btn-info" href="superadmin" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-sm-4">
                    <img class="rounded-circle"
                        src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                        alt="Generic placeholder image" width="140" height="140">
                    <h2>Gallery</h2>
                    <p>This is where the efforts will be shown and exposed.<br><br></p>
                    <p><a class="btn btn-info" href="#" role="button">View details &raquo;</a></p>
                </div>
            </div> -->
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2" style="justify-content: center;">
                <h2 class="featurette-heading">Benefits :&nbsp; <span class="text-muted">Here's where Digitization
                        works...</span>
                </h2>
                <p class="lead"> <b>
                        • Removal of Manual Audit Process.<br>
                        • Automated mails to relevant owners.<br>
                        • Automatic score calculations.<br>
                        • Dashboard at SmartOps level depicting SMM scores at Account & Team Level.<br>
                        • Reduced time to complete the entire process .
                    </b>
                </p>
            </div>
            <div class="col-md-5 order-md-1 ">
                <img class="featurette-image img-fluid mx-auto" src="assets/Images/hand-sun-sm.jpg" 
                    data-src="holder.js/500x500/auto" alt="Generic placeholder image">
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Objectives and End Users: <span class="text-muted">(SMM
                        Digitization)</span>
                </h2>
                <p class="lead">
                    <br><b>
                        <b>&nbsp;Objective:</b> <br>
                        Digitization of the SMM audit process using this tool with aim to minimize manual
                        intervention.<br><br>
                        <b>&nbsp;End Users:</b> <br>
                        AQE, LMs, Focals/SPOC's (PMs & Leads) across shores in SmartOps
                    </b> </p>
            </div>
            <div class="col-md-5" style="padding-right: 10px;">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto"
                    src="assets/Images/building-vector-lg_1.jpg" alt="Generic placeholder image">
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Before Digitization : <span class="text-muted"> (Manual processes)</span>
                </h2>
                <p class="lead"><br><b>
                        - Manual Workflow.<br>
                        - Excel based questionnaire shared with SPOC's to be filled manually.<br>
                        - Documents kept on sharedrive as evidence.<br>
                        - Responses evaluated & scores calculated.<br>
                    </b></p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto"
                    src="assets/Images/amdocsone4-sm.jpg" alt="Generic placeholder image">
            </div>
        </div>

        <br><br>
        <hr class="featurette-divider">
        <br><br>
        <div style=" margin-left: 40px; margin-right: 20px;">
            <img class="fakeimg" style="height:400px; width: 100%" src="assets/Images/carousel.gif">
            
        </div>
    </div>
</div>
<app-footer></app-footer>