<!--
<app-dashboard-header>
</app-dashboard-header>
-->
<app-admin-header></app-admin-header>
<div class="admin-panel-container">
  <!--
  <div class="body-container">
    <div class="updiv">

        <div class="left-div">
            <h1 class="link-div"><a routerLink="/admin/line" >Add/Modify Line</a></h1>
        </div>
        <div class="middle-div">
            <h1 class="link-div"><a routerLink="/admin/account" >Add/Modify Account</a></h1>
        </div>
        <div class="right-div">
            <h1 class="link-div"><a routerLink="/admin/team" >Add/Modify Team</a></h1>
        </div>
    </div>
    
    <div class="downdiv">
        
          <div class="left-div">
            <h1 class="link-div"><a routerLink="#" >Add/Modify KPI</a></h1>
          </div>
          <div class="middle-div">
       
          </div>
          <div class="right-div">
            <h1 class="link-div"><a routerLink="#" >Add/Modify Pillar</a></h1>
          </div>

    </div>


  

  </div>
-->














  <!--



  <div class="row1">
    <div class="column">
      <a routerLink="/admin/line" ><img src="assets/Images/pic1.png" ></a>
    </div>
    <div class="column">
      <a routerLink="/admin/account" ><img src="assets/Images/pic2.png" ></a>
    </div>
    <div class="column">
      <a routerLink="/admin/team" ><img src="assets/Images/pic3.png" ></a>
    </div>
    <div class="column">
      <a routerLink="/admin/kpi" ><img src="assets/Images/pic4.png" ></a>
    </div>
    <div class="column">
      <a routerLink="/admin/pillar" ><img src="assets/Images/pic5.png" ></a>
    </div>
  </div>


-->




  <div class="row1">
    <div class="column">
      <a routerLink="/admin/line">
        <img src="assets/Images/pic1.png">
      </a>
    </div>
    <!--<div class="column">
        <a routerLink="/admin/kpi" ><img src="assets/Images/pic4.png" ></a>

    </div>
	  -->
    <div class="column">
      <a routerLink="/admin/account">
        <img src="assets/Images/pic2.png">
      </a>
    </div>

	<div class="column">
		<a routerLink="/admin/pillar">
			<img src="assets/Images/pic5.png">
		</a>
    </div>
    <div class="column">
      <a routerLink="/admin/team">
        <img src="assets/Images/pic3.png">
      </a>
    </div>
	
	<div class="column">
      <a routerLink="/admin/kpi">
        <img src="assets/Images/pic4.png">
      </a>
    </div>
   


  </div>




</div>