<!-- <span>
<button (click)="openpopup()" mat-button style="margin-top: 30px;background: #FFFFFF;;margin-left: 100px" (click)="openpopup()">Add Question</button>

</span>
<div *ngIf="popup" class="modal">   
    <form class="modal-content animate" >
  
      <div class="container">
        <label for="uname"><b>Question</b></label>
        <input type="text" [(ngModel)]="question" placeholder="Enter Question" name="account" required>
  
        <label for="psw"><b>Answers</b></label>
        <div class="answer">
            <table>
              <tr>
                <td><input type="text" placeholder="Enter Answer" [(ngModel)]="answer" name="aol" required></td>
                <td><input type="text"  placeholder="Enter Score" [(ngModel)]="Value"></td>  
              </tr>
              <tr>
                  <td><input type="text" placeholder="Enter Answer" [(ngModel)]="answer" name="aol" required></td>
                  <td><input type="text"  placeholder="Enter Score" [(ngModel)]="Value"></td>  
              </tr>
              <tr>
                  <td><input type="text" placeholder="Enter Answer" [(ngModel)]="answer" name="aol" required></td>
                  <td><input type="text"  placeholder="Enter Score" [(ngModel)]="Value"></td>  
              </tr>
              <tr>
                  <td><input type="text" placeholder="Enter Answer" [(ngModel)]="answer" name="aol" required></td>
                  <td><input type="text"  placeholder="Enter Score" [(ngModel)]="Value"></td>  
              </tr>

            </table>
            
            
        </div>
          
        <button class="button" type="submit" (click)="onsubmit()">Add Question</button>
        <button type="button" (click)="closepopup()" class="cancelbtn">Cancel</button>
      </div>
    </form>
  </div>
  

  
<div *ngIf="checklistpopup" class="modal">   
    <form class="modal-content animate" >
  
      <div class="container">
        <label for="uname"><b>CheckList Name</b></label>
        <input type="text" [(ngModel)]="checklistname" placeholder="Enter Team Name" name="account" required>
            
        <button class="button1" type="submit" (click)="onupdate()">Update</button>
        <button type="button" (click)="closepopup()" class="cancelbtn">Cancel</button>
      </div>
    </form>
</div> -->
