<div class="account-dashboard-container">
  <div class="account-dashboard-header">
    <div class="logo-container">
      <div class="image">
        <img class="logo" src="assets/Images/amdocs.png">
      </div>
    </div>
    <div class="header-title-container">
      <h1 class="top-header">AQUA DASHBOARDS</h1>
    </div>
    <div class="place-holder">
      <!--if admin add here-->
      <input id="submit-id" type="button" value="Admin" (click)="redirectAdmin()" />
      <!-- <input  id="super-admin" type="button" value="SuperAdmin">  -->
      <input  id="super-admin" type="button" value="SuperAdmin" >
    </div>

    
  </div>

  <div class="body-container">
    <div class="left">
      <!-- <div class="row">

        
 <div class="column" id="line">

          <h1 class="link-div">
            <a routerLink="/line">Line View</a>
          </h1>
        </div>
        
</div> -->

      <div class="row">

        <div class="column" id="adm">

              <h1 class="link-div">
                <a routerLink="/adm">SmartOps View</a>
              </h1>
    
            </div>

        <div class="column" id="account">

          <h1 class="link-div">
            <a routerLink="/account">Account View</a>
          </h1>
        </div>

        <div class="column" id="team">

          <h1 class="link-div">
            <a routerLink="/team">Team View</a>
          </h1>
        </div>
        
        <!-- <div class="column" id="prr">

          <h1 class="link-div">
            <a routerLink="/prr">PRR</a>
          </h1>
        </div> -->
      </div>
    </div>
    <div class="carousel">
      <slideshow [height]="'130%'" [autoPlay]="true" [showArrows]="true" [imageUrls]="imageSources" [lazyLoad]="imageSources?.length > 1"
        [autoPlayWaitForLazyLoad]="true" [showArrows]=true>
      </slideshow>
    </div>

  </div>
  <br><br><br><br>
  <div class="content">
    <h2>
      Our aim is to make every account  digitally empowered and every information digitally available.  Digitization portal helps
      accounts to understand which Process Maturity level currently a team is at. Currently dashboards are capable of showing
      REAL TIME Code review maturity of a team/Account/Line using SonarQube .  Our Aim is to add all data points/KPIs applicable
      to an account in the Digitization portal. It should be a One-Stop portal for all project related data points.
    </h2>
    <div class="aqua-logo">
      <img class="logo-bottom" src="assets/Images/aqua.png">
    </div>
  </div>


</div>